#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  overflow: hidden;
}

.logo {
  max-height: 20em;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  bottom: 10em;
}

.input-field {
  border: 1px solid orange;
  align-self: center;
  border-radius: 30px;
  font-size: larger;
  padding: 10px 30px;
  max-width: 29em;
  min-height: 2em;
}

.save-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fb8332;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #0d0d0dd9;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  margin-top: 20px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.save-button:hover {
  transform: translateY(-2px);
}

.save-button:active {
  transform: translateY(0);
}

.error-msg {
  color: hsl(352, 90%, 50%);
  font-size: large;
  margin-top: 20px;
}

.spinner {
  animation: rotation 2s infinite linear;
  font-size: xx-large;
  margin-top: 1em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 40em) {
  .input-field {
    width: 29em;
  }
}
