#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  position: relative;
  bottom: 10em;
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  bottom: 10em;
}

.input-field {
  border-radius: 30px;
  border: none;
  height: 30px;
  font-size: larger;
  padding: 10px;
}

.valid-link {
  border: solid greenyellow 1px;
}

.unValid-link {
  border: solid red 1px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fb8332;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #4d0f35d9;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-2px);
}

.button-5:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
